/* Variables */
:root {
  --color1: #16697a;
  --color2: #db6400;
  --color3: #ffa62b;
  --color4: #f8f1f1;
}
/* General Styles */
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2,p {
  margin-bottom: 0;
  padding-top: 1rem;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
}

.flex-title {
  color: var(--color4);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
  padding: 1rem;
}

.flex-search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.label {
  display: block;
  width: 100%;
  text-align: left;
  padding-top: 1rem;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.btn-search {
  background-color: var(--color1);
  margin-left: 0.5rem;
  border: none;
}

.list-group-item {
  text-transform: uppercase;
}

.list-group-item:hover{
  background-color: var(--color2);
  color: var(--color4);
}

.flex-cities {
  height: 3rem;
  border-radius: 0.5rem;
  text-align: left;
  padding-left: 1rem;
}

.flex-display-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
}

.flex-city {
  align-items: flex-start;
  width: 100%;
  padding-bottom: 1rem;
  border: solid 0.1rem var(--color3);
  border-radius: 0.5rem;
}

.city-name-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.info-title {
  color: var(--color2);
  display: inline-block;
  padding-top: 0;
}

.info-icon {
  display: inline;
  background-color: var(--color1);
  margin-left: 1rem;
  border-radius: 100%;
}

.info {
  padding-left: 1rem;
}

.uvi-green {
  background-color: green;
  color: var(--color4);
  border-radius: 0.5rem;
  width: 3rem;
  display: inline-block;
  text-align: center;
}

.uvi-yellow {
  background-color: yellow;
  border-radius: 0.5rem;
  width: 3rem;
  display: inline-block;
  text-align: center;
}

.uvi-orange {
  background-color: orange;
  border-radius: 0.5rem;
  width: 3rem;
  display: inline-block;
  text-align: center;
}

.uvi-orange {
  background-color: red;
  color: var(--color4);
  border-radius: 0.5rem;
  width: 3rem;
  display: inline-block;
  text-align: center;
}

.uvi-violet {
  background-color: violet;
  color: var(--color4);
  border-radius: 0.5rem;
  width: 3rem;
  display: inline-block;
  text-align: center;
}

.five-day-title {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--color2);
}
.flex-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.card-img {
  margin: 0 auto;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color1);
  text-align: center;
}
.footer-item {
color: var(--color4);
padding: 1rem;
margin-bottom: 0;
}

.modal  {
  display: none;
  background-color: var(--color4);
  text-align: center;
}

.modal h3 {
  color: var(--color2);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.modal p {
  color: var(--color1);
  font-size: 1rem;
  padding-top: 0;
}
